{% extends "layout.html" %}

{% block content %}

<!--<h2 style="margin: auto; width: 70%; margin-bottom: 15px;">{{ title }}</h2>-->

<div class="p-5 mb-4 bg-light rounded-3" style="margin: auto; width: 70%;">
    <div class="container-fluid py-2" style="text-align: center;">

        <!-- Stałe boczne menu w zakładce bazy danych -->

        <div class="row">
            <div class="col-sm-4">
                <div class="row" style="margin-bottom: 5px;">
                    <a class="custom" href="#" role="button">Dodaj nową osobę</a>
                </div>
                <div class="row" style="margin-bottom: 5px;">
                    <a class="custom" href="#" role="button">Popraw dane</a>
                </div>
                <div class="row" style="margin-bottom: 5px;">
                    <a class="custom" href="{% url 'players:players_list' %}" role="button">Pokaż wszystkich</a>
                </div>
                <div class="row" style="margin-bottom: 5px;">
                    <a class="custom" href="#" role="button">Usuń dane</a>
                </div>
            </div>

            <div class="col-sm-6 offset-1">

                {% block body %}{% endblock %}
            
            </div>

        </div>
    </div>
</div>


{% endblock %}
