{% extends "inner_layout.html" %}

{% block body %}

<h2>Lista osób trenujących</h2>

<br />

<!--<table class="table" style="border-bottom: 1px solid #b2b2b2;">-->
<table class="table">
    <tr class="custom">
        {% for header in headings %}
        <th class="custom">{{header}}</th>
        {% endfor %}
    </tr>

    {% for player in players %}
    <tr class="custom">

        <td class="custom">{{player.id}}</td>
        <td class="custom">{{player.first_name}}  {{player.last_name}}</td>
        <td class="custom">{{player.belt}}</td>
        <td class="custom">{{player.stripe}}</td>

    </tr>
    {% endfor %}

</table>

{% endblock %}
