{% extends "inner_layout.html" %}

{% block body %}

<div style="width: 120%;">
    <h2>Lista osób trenujących</h2>

    <br />

    <table class="table" style="background-color: white; border: 2px solid black;">
        <tr class="custom">
            {% for header in headings %}
            <th class="custom">{{header}}</th>
            {% endfor %}
        </tr>

        {% for row in data %}
        <tr class="custom">
            {% for cell in row %}

            <td class="custom">{{cell}}</td>

            {% endfor %}
        </tr>
        {% endfor %}

    </table>
    {% endblock %}

</div>
