{% extends "inner_layout.html" %}

{% block body %}
{% load static %}

    <h3>Dodawanie nowej osoby</h3>
    <div style="margin: auto;">
        <div style="text-align:center; display: inline-block">
        <form method="post">
            {% csrf_token %}

            <div class="row g-3">
                <div class="col-md-4" style="margin: 25px auto auto;">
                    <input type="text" name="first_name" id="first_name" class="form-control form-control-lg" placeholder="Imię..." aria-label="">
                </div>

                <div class="col-md-4" style="margin: 25px auto auto;">
                    <input type="text" name="last_name" id="last_name" class="form-control form-control-lg" placeholder="Nazwisko..." aria-label="">
                </div>

                <div class="col-md-4" style="margin: 25px auto auto;">
                <div class="form-floating">
                    <select name="gender" id="gender" class="form-select" aria-label="">
                        <option selected value="Mężczyzna">Mężczyzna</option>
                        <option value="Kobieta">Kobieta</option>
                    </select>
                    <label for="gender">Płeć</label>
                </div>
                </div>
            </div>

            <div class="row g-3">
                <div class="col-md-6">
                <div class="form-floating" style="margin: 25px auto auto;">
                    <select name="belt" id="belt" class="form-select" aria-label="">
                        <option selected value="Biały">Biały</option>
                        <option value="Niebieski">Niebieski</option>
                        <option value="Purpurowy">Purpurowy</option>
                        <option value="Brązowy">Brązowy</option>
                        <option value="Czarny">Czarny</option>
                    </select>
                    <label for="belt">Pas</label>
                </div>
                </div>

                <div class="col-md-6">
                <div class="form-floating" style="margin: 25px auto auto;">
                    <select name="stripe" id="stripe" class="form-select" aria-label="">
                        <option selected value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                    <label for="stripe">Belki</label>
                </div>
                </div>
            </div>

            <button type="submit" class="btn btn-outline-success" style="margin-top: 35px;">Dodaj</button>

        </form>
        </div>

        {% if message != "" %}

        <script>
        $(document).ready(function() {
            $("#adding_people_toast").toast('show');
        });
        </script>

        <div style="position: absolute; bottom: 20px; right: 20px;">
            <div id="adding_people_toast" class="toast" role="status" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
                <div class="toast-header">
                    <img src="{% static 'images/activity.svg' %}" alt="Image not found">
                    <strong class="me-auto">BJJ CLUB</strong>
                    <small style="padding-right: 20px;">{{ time_now | time:"G:i:s" }}</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">

                    {% if status == "added" %}
                    <b> {{ message }} </b> został/a dodany/a do bazy
                    <img src="{% static 'images/check-square-fill.svg' %}" alt="" style="height: 20px; padding-left: 5px;">
                    {% endif %}

                    {% if status == "error" %}
                    <b style="color: red;">*Błąd*</b> : Użytkownik już znajduję sie bazie
                    {% endif %}

                </div>
            </div>
        </div>

        {% endif %}

    </div>

{% endblock %}
