{% extends "inner_layout.html" %}

{% block body %}
{% load extras %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/players/player_profile.css' %}" />

<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link active ms-0" href="{% url 'players:player_profile' player.id %}">Profil</a>
        <a class="nav-link" href="{% url 'players:player_profile_biling' player.id %}">Płatności</a>
        <a class="nav-link" href="{% url 'players:player_profile_activity' player.id %}">Aktywność</a>
        <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-profile-security-page">Bezpieczeństwo</a>
        <a class="nav-link" href="#"  target="__blank">Ankiety</a>
    </nav>

    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">{{player.first_name}} {{player.last_name}}</div>
                <div class="card-body text-center">

                    <!-- Profile picture image-->
                    {% if player.gender == 'Mężczyzna'%}
                    <img class="img-account-profile rounded-circle mb-2" src="{% static 'images/players/profile_photo/male.png' %}" alt="">
                    {% else %}
                    <img class="img-account-profile rounded-circle mb-2" src="{% static 'images/players/profile_photo/female.png' %}" alt="">
                    {% endif %}

                    <!-- Profile belt image-->
                    <img src= "{% belt_png player.belt player.stripe %}" alt='' style="width: 100px; margin-left: 10px;"/>

                    <!-- Profile belt text info-->
                    <div class="small font-italic text-muted mb-2">Pas: {{player.belt}}, {{player.stripe}} belki</div>


                    <div class="small font-italic text-muted mb-4">Status zawodnika:
                        {% if player.active %}
                            <b style="color: green">Aktywny</b>
                        {% else %}
                            <b style="color: red">Nieaktywny</b>
                        {% endif %}
                    </div>

                    <!-- Profile picture upload button-->
                    <button class="btn btn-outline-primary" type="button">Dodaj nowe zdjęcie</button>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Szczegóły</div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="first_name">Imię</label>
                                <input class="form-control" id="first_name" name="first_name" type="text" placeholder="Enter your first name" value="{{player.first_name}}">
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="last_name">Nazwisko</label>
                                <input class="form-control" id="last_name" name="last_name" type="text" placeholder="Enter your last name" value="{{ player.last_name }}">
                            </div>
                        </div>
                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstVisit">Pierwszy trening</label>
                                <input class="form-control" id="inputFirstVisit" type="text" placeholder="Enter your first training" value="xx/xx/xxxx" disabled readonly>
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastVisit">Ostatni trening</label>
                                <input class="form-control" id="inputLastVisit" type="text" placeholder="Enter your last training" value="xx/xx/xxxx" disabled readonly>
                            </div>
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (phone number)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="phone_number">Numer telefonu</label>
                                <input class="form-control" id="phone_number" type="tel" placeholder="Brak" value="{{ player.phone_number }}" disabled readonly>
                            </div>
                            <!-- Form Group (email)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="e_mail">E-mail</label>
                                <input class="form-control" id="e_mail" type="text" name="e_mail" placeholder="Brak" value="{% email_display player.id %}" disabled readonly>
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (birthday)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="birth_day">Rok urodzenia</label>
                                <input class="form-control" id="birth_day" type="date" placeholder="Brak" value="{{player.birth_date | date:'d/m/Y'}}" disabled readonly>
                            </div>
                            <!-- Form Group (gender)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="gender">Płeć</label>
                                <select class="form-select" id="gender" name="gender" aria-label="Płeć" style="height: 48px; color: grey">
                                    {% if player.gender == "Mężczyzna" %}
                                        <option selected>Mężczyzna</option>
                                        <option value="Kobieta">Kobieta</option>
                                    {% else %}
                                        <option selected>Kobieta</option>
                                        <option value="Mężczyzna">Mężczyzna</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>

                        <!-- Form Group (created/modified date)-->
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputCreated">Utworzono</label>
                                <input class="form-control" id="inputCreated" type="text" placeholder=""
                                       value="{{player.created | date:'m/d/Y  G:i:s'}}" disabled readonly>
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastChange">Ostatnia zmiana</label>
                                <input class="form-control" id="inputLastChange" type="text" placeholder=""
                                       value="{{player.modified | date:'m/d/Y  G:i:s'}}" disabled readonly>
                            </div>
                        </div>

                        <!-- Save changes button-->
                        <button class="btn btn-outline-primary" type="submit">Zapisz zmiany</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-4">
        </div>

        <div class="col-xl-8">
            <div class="card mb-4">
            <div class="card-header">Aktywność</div>
            <div class="card-body text-end">
                <p>Łączna ilość treningów: xxx</p>
                <p>Łączna ilość treningów w bieżącym roku: xxx</p>
                <hr>
                <canvas id="lineChart-user-001" style="aspect-ratio: 1/2">
                <script type="module">

                    import { wykres } from "/static/scripts/charts/player_activity_chart.js";

                    let chart_id = "lineChart-user-001";
                    {#const labels = {{ context['chart_id_1']['labels'] | safe }};#}
                    let labels = ["01-2022", "02-2022", "03-2022", "04-2022", "05-2022", "06-2022", "07-2022", "08-2022", "09-2022", "10-2022", "11-2022", "12-2022"];
                    let dane = [28, 32, 30, 15, 24, 39, 28, 32, 27, 15, 24, 31];
                    let title = "Ostatnie 12 miesięcy";

                    wykres(chart_id, labels, dane, title);

                </script>
                </canvas>

                <br>
                <div class="card-text text-start">
                <button class="btn btn-outline-primary" type="button" data-bs-toggle="modal" data-bs-target="#Wykres_001_Modal">Powiększ</button>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="Wykres_001_Modal" tabindex="-1" aria-labelledby="Wykres_001_Modal_Label" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-body">
{#                                <canvas id="lineChart-user-001-modal" style="aspect-ratio: 1/2">#}
                                <canvas id="lineChart-user-001-modal">
                                    <script type="module">

                                        import { wykres } from "/static/scripts/charts/player_activity_chart.js";

                                        let chart_id = "lineChart-user-001-modal";
                                        {#const labels = {{ context['chart_id_1']['labels'] | safe }};#}
                                        let labels = ["01-2022", "02-2022", "03-2022", "04-2022", "05-2022", "06-2022", "07-2022", "08-2022", "09-2022", "10-2022", "11-2022", "12-2022"];
                                        let dane = [28, 32, 30, 15, 24, 39, 28, 32, 27, 15, 24, 31];
                                        let title = "Użytkownik nr {{ player.id }}";

                                        wykres(chart_id, labels, dane, title);

                                    </script>
                                </canvas>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal" style="font-size: 14px; width: 140px; ">Zamknij</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal (Koniec) -->

            </div>
            </div>
        </div>
    </div>


</div>

{% endblock %}