{% extends "layout.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/player_list_2.css' %}" />


<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-2" style="text-align: center;">
        <h1 class="display-7 fw-bold">O mnie</h1>
        <p style="margin-top: 55px; font-size: 22px;"><b>Tomasz Męczkowski</b></p>
        <p style="font-size: 18px;">Początkujący Python backend developer</p>


<!--        <img src="/static/images/github.svg" alt="gitHub icon" style="height: 40px;">-->
        <img src="{% static 'images/github.svg' %}" alt="github icon" style="height: 40px;">
        <a class="link_custom" href="https://github.com/TomaszMeczkowski" style="width: 120px;" target="_blank">GitHub</a>

        <h2 style="margin-top: 100px;">Python</h2>
        <h5>W tym obsługa bibliotek:</h5>
        <p>Numpy, Pandas, Matplotlib</p>

        <br>
        <h5>Wykorzystywane Framework-i:</h5>
        <p>Flask, Django</p>

        <h2 style="margin-top: 100px;">Bazy Danych</h2>
        <h5>Relacyjne:</h5>
        <p>MySQL, SQLite3</p>

        <br>
        <h5>Nierelacyjne</h5>
        <p>....</p>

        <h2 style="margin-top: 100px;">IDE</h2>
        <p>Pycharm community edition oraz professional, Visual Studio Code, Visual Studio</p>

        <h2 style="margin-top: 100px;">Frontend</h2>
        <p>HTML5, CSS, JS, Bootstrap</p>

        <h2 style="margin-top: 100px;">Edukacja / Kursy</h2>
        <p>2022: Pywww, Dokodu, Kurs dot. Django</p>
        <p>2022: Comarch, Bootcamp Junior Python Developer</p>
        <p>2022: FreeCodeCamp, Scientific Computing with Python </p>
        <p>2022: HardCoder - Programowanie w jeżyku Python w zakresie podstawowym</p>
        <P>2021-2022: Asysten Projektanta Mostowego w Gdańskim biurze projektowym</P>
        <p>2019-2022: Politechnia Gdańska, kierunek: Budownictwo</p>
        <p>2013-2016: Liceum Ogólno kształcące, profil matematyczno-fizyczny</p>



    </div>
</div>

{% endblock %}
