{% extends "layout.html" %}

{% block content %}

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-6 fw-bold">BJJ Club app</h1>
        <p class="col-md-8 fs-4">Aplikacja organizująca pracę klubu sportowego, zajmującego się brazylijskim jiu jitsu</p>
        <p><a href="https://www.djangoproject.com/" class="btn btn-outline-success">Dokumentacja Django</a></p>
    </div>
</div>


{% if message != "" %}
<script>
        $(document).ready(function() {
            $("#id_finder_modal").modal('show');
        });
</script>

<div>
    <div class="modal fade" id="id_finder_modal" tabindex="-1" aria-labelledby="id_finder_modal_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="id_finder_modal_label">Panel logowania</h1>
                </div>

                <div class="modal-body" style="margin-top: 20px; margin-bottom: 20px;">

                    <div style="margin:auto; margin-top: 25px; margin-bottom: 25px; text-align: center;">

                        {% if message == "zalogowany" %}
                        <h3>Zostałeś zalogowany</h3>
                        {% endif %}

                        {% if message == "wylogowany" %}
                        <h3>Zostałeś wylogowany</h3>
                        {% endif %}

                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="custom-grey" style="width: 100px;" data-bs-dismiss="modal">Zamknij</button>
                </div>

            </div>
        </div>
    </div>
</div>

{% endif %}




<div class="row" style="margin-top: 100px;">
    <div class="col-md-4">
        <h2>Bootstrap 5.2</h2>
        <p>
            Bootstrap is a powerful, feature-packed frontend toolkit. 
            Build anything—from prototype to production—in minutes.
        </p>
        <p><a class="custom-grey" href="https://getbootstrap.com/docs/5.2/getting-started/introduction/" style="width: 120px;">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Python 3.10 docs</h2>
        <p>The Python documentation of currently use version</p>
        <p><a class="custom-grey" href="https://docs.python.org/3.10/" style="width: 120px;">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="custom-grey" href="#" style="width: 120px;">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
