<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tiny BJJ Club</title>

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.rtl.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}"/>
  <script src="{% static 'scripts/chart.js' %}"></script>
  <script src="{% static 'scripts/jquery-3.4.1.min.js' %}"></script>

</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'main:index' %}">BJJ Club</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'main:index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'main:about' %}">O mnie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'main:contact' %}">Kontakt</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disable" aria-disabled="true" aria-current="page" href="#">Obsług klienta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'players:players_list' %}">Zawodnicy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disable" aria-disabled="true" aria-current="page" href="#">Statystyki</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'main:about_project' %}">O projekcie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disable" aria-disabled="true" aria-current="page" href="#">Konto</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>

    <div class="container body-content" style="margin-top: 80px;">

        {% block content %}{% endblock %}

        <hr style="margin-top: 80px;" />
        <footer>
            <p>&copy; 2022 - BJJ Club</p>
        </footer>
    </div>

    <script src="{% static 'scripts/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'scripts/Password_Visibility.js' %}"></script>

    {% block scripts %}{% endblock %}

</body>
</html>
